body{
    background-color:burlywood;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	
}

.divTable{
	display: table;
	width: 25%;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
}
.divTableRow {
	display: table-row;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
}
.divTableHeading {
	background-color:grey;
	display: table-header-group;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	
}
.divTableCell, .divTableHead {
	border: 0px solid darkgrey;
	display: table-cell;
	padding: 3px 10px;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	
}
.divTableHeading {
	background-color: lightgreen;
	display: table-header-group;
	font-weight: bold;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	
}
.divTableFoot {
	background-color: tan;
	display: table-footer-group;
	font-weight: bold;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
}
.divTableBody {
	display: table-row-group;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
}